@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Лабораторна робота №3</h1>
</div>
<div>
    <p>
        Файл «Студенти» містить наступну інформацію про студентів: код, прізвище, група. Кожний рядок
        файлу «Рейтинг» містить код студента, назву предмета, кількість балів за перший модуль, кількість
        балів за другий модуль (з цього предмета)
    </p>
    <ul>
        <li>Після авторизації користувача вивести вміст файлів на окрему web-сторінку.</li>
        <li>
            Вивести прізвища та назви груп студентів, які мають оцінку 4 із заданого предмета.
        </li>
        <li>
            Вивести прізвища студентів, які мають найбільший середній рейтинг за перший модуль.
        </li>

    </ul>
</div>